
.list {
    display: block;
    height: 84vh;
    width: 100%;
    padding-top: 15px;
    padding-right: 40px;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: #828282;
  }

  a {
    color: #000000;
  }