
.list {
    display: block;
    height: 84vh;
    width: 100%;
    padding-top: 15px;
    padding-right: 40px;
    margin: 0;
    color: #828282;
}
.loading {
  text-align: center;
}

a {
    color: #000000;
    cursor: pointer;
}